In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('./tv_df.csv')

In [3]:
df.head(2)

,TV_Brand,TV_Name,Star_Rating,Warranty,ScreenSize_cm,ScreenSize_inch,Sound_Output,Rating,Reviews,Price,Supported_apps,Resolution
0,SAMSUNG,163 cm (65 inch) Ultra HD (4K) LED Smart TV,4.4,1,163.0,65,20,24,2,99999,Netflix|Disney+Hotstar|Youtube,3840 x 2160 Pixels
1,SAMSUNG,The Frame 163 cm (65 inch) QLED Ultra HD (4K)...,4.5,1,163.0,65,40,"3,209",511,124999,Netflix|Prime Video|Apple TV|Disney+Hotstar|Yo...,3840 x 2160 Pixels

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TV_Brand         480 non-null    object
 1   TV_Name          480 non-null    object
 2   Star_Rating      450 non-null    float64
 3   Warranty         480 non-null    int64
 4   ScreenSize_cm    460 non-null    float64
 5   ScreenSize_inch  480 non-null    int64
 6   Sound_Output     480 non-null    int64
 7   Rating           440 non-null    object
 8   Reviews          440 non-null    object
 9   Price            480 non-null    int64
 10  Supported_apps   480 non-null    object
 11  Resolution       480 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 45.1+ KB

#### OBSERVATIONS: Rating and Reviews are containing NaN values so we need to be convert them into float values

In [5]:
df['Rating']=df['Rating'].str.replace(',','').astype(float)
df['Reviews']=df['Reviews'].str.replace(',','').astype(float)

In [6]:
df.head(2)

,TV_Brand,TV_Name,Star_Rating,Warranty,ScreenSize_cm,ScreenSize_inch,Sound_Output,Rating,Reviews,Price,Supported_apps,Resolution
0,SAMSUNG,163 cm (65 inch) Ultra HD (4K) LED Smart TV,4.4,1,163.0,65,20,24.0,2.0,99999,Netflix|Disney+Hotstar|Youtube,3840 x 2160 Pixels
1,SAMSUNG,The Frame 163 cm (65 inch) QLED Ultra HD (4K)...,4.5,1,163.0,65,40,3209.0,511.0,124999,Netflix|Prime Video|Apple TV|Disney+Hotstar|Yo...,3840 x 2160 Pixels

#### Checking for null values:

In [7]:
df.isnull()

,TV_Brand,TV_Name,Star_Rating,Warranty,ScreenSize_cm,ScreenSize_inch,Sound_Output,Rating,Reviews,Price,Supported_apps,Resolution
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
475,False,False,False,False,False,False,False,False,False,False,False,False
476,False,False,False,False,False,False,False,False,False,False,False,False
477,False,False,False,False,False,False,False,False,False,False,False,False
478,False,False,False,False,False,False,False,False,False,False,False,False
479,False,False,True,False,False,False,False,True,True,False,False,False

In [8]:
df.isnull().sum()

TV_Brand            0
TV_Name             0
Star_Rating        30
Warranty            0
ScreenSize_cm      20
ScreenSize_inch     0
Sound_Output        0
Rating             40
Reviews            40
Price               0
Supported_apps      0
Resolution          0
dtype: int64

#### OBSERVATIONS: 
#### We got 30 null values in Star_Ratings, 20 in Screen_Size_cm and 40 in both Rating and Reviews columns.

In [9]:
((df.isnull().sum())/len(df))*100

TV_Brand           0.000000
TV_Name            0.000000
Star_Rating        6.250000
Warranty           0.000000
ScreenSize_cm      4.166667
ScreenSize_inch    0.000000
Sound_Output       0.000000
Rating             8.333333
Reviews            8.333333
Price              0.000000
Supported_apps     0.000000
Resolution         0.000000
dtype: float64

### Handling null values in ScreenSize_cm column:

In [10]:
df['ScreenSize_cm'].value_counts().index[0]

80.0

In [11]:
df['ScreenSize_cm'].fillna(df['ScreenSize_cm'].value_counts().index[0],inplace=True)

#### OBSERVATIONS: 
#### As we, got some null values in screensize_cm column so we replaced the null values in it with most frequently occured value (i.e.,80).

In [12]:
df.describe()

,Star_Rating,Warranty,ScreenSize_cm,ScreenSize_inch,Sound_Output,Rating,Reviews,Price
count,450.000000,480.0,480.000000,480.000000,480.000000,440.000000,440.000000,480.000000
mean,4.377333,1.0,102.556250,41.633333,21.358333,77629.227273,8467.000000,30406.208333
std,0.081588,0.0,25.059948,9.871985,5.698472,165926.024239,17296.086126,22950.155298
min,4.200000,1.0,80.000000,32.000000,2.000000,24.000000,2.000000,13499.000000
25%,4.300000,1.0,80.000000,32.000000,20.000000,3209.000000,461.000000,16874.000000
50%,4.400000,1.0,104.000000,43.000000,20.000000,16878.000000,1792.500000,24499.000000
75%,4.400000,1.0,125.000000,50.000000,24.000000,70841.000000,7591.000000,34999.000000
max,4.600000,1.0,163.000000,65.000000,40.000000,590772.000000,61608.000000,124999.000000

### Handling null values in star_ratings, ratings and reviews columns:

### Star_ratings:

In [13]:
df['Star_Rating']=df['Star_Rating'].fillna(0)

### Ratings:

In [14]:
df['Rating']=df['Rating'].fillna(0)

### Reviews:

In [15]:
df['Reviews']=df['Reviews'].fillna(0)

#### OBSERVATIONs: 
#### We got some null values in Star_ratings, ratings and reviews columns.We can say that they not been rated and reviewed.
#### So we filled the null values in them with zero rather than deleting them.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TV_Brand         480 non-null    object
 1   TV_Name          480 non-null    object
 2   Star_Rating      480 non-null    float64
 3   Warranty         480 non-null    int64
 4   ScreenSize_cm    480 non-null    float64
 5   ScreenSize_inch  480 non-null    int64
 6   Sound_Output     480 non-null    int64
 7   Rating           480 non-null    float64
 8   Reviews          480 non-null    float64
 9   Price            480 non-null    int64
 10  Supported_apps   480 non-null    object
 11  Resolution       480 non-null    object
dtypes: float64(4), int64(4), object(4)
memory usage: 45.1+ KB

In [20]:
df['Rating']=df['Rating'].astype(int)

In [21]:
df['Reviews']=df['Reviews'].astype(int)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TV_Brand         480 non-null    object
 1   TV_Name          480 non-null    object
 2   Star_Rating      480 non-null    float64
 3   Warranty         480 non-null    int64
 4   ScreenSize_cm    480 non-null    float64
 5   ScreenSize_inch  480 non-null    int64
 6   Sound_Output     480 non-null    int64
 7   Rating           480 non-null    int32
 8   Reviews          480 non-null    int32
 9   Price            480 non-null    int64
 10  Supported_apps   480 non-null    object
 11  Resolution       480 non-null    object
dtypes: float64(2), int32(2), int64(4), object(4)
memory usage: 41.4+ KB

#### OBSERVATIONS: After cleaning the data we got above cleaned data.

In [23]:
df.to_csv('tv_clean.csv',index=False)   # saving cleaned data in .csv file